* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgb(161, 163, 195)
}

p {
  margin: 20px;
  font-family: "cinzel", serif;
  font-size: 20px;
}

.object {
  background-color: rgb(251, 196, 0);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 300px;
  right: 300px;
  transition: all 1s ease;
}


.object:hover {
  border-radius: 0;
  width: 400px;
  height: 400px;
  background-color: rgb(184, 74, 19);
}
