body {background-color: #2b2b2a;}

h1 {color: #efe0cf;
background-color: #488182;
margin: 10px;
max-width: 450px;
font-family: monospace;}

p {color: #efe0cf;
font-size: 16px ;
font-family: monospace;
width: 60vw;
left: 10px;}

li {color: #dea63f;
background-color: #da6c50;
margin: 10px;
max-width: 200px;
font-size: 20px;
font-family: monospace;}
