* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  background-color: rgb(65, 86, 108);
  height: 100vh;
  flex-direction: column;
  display: flex;
}

.top-row {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 10px;
}

.grid {
  background-color: white;
  height: 70%;
  width: 30%;
  margin: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;

}
.grid-item-1 {
  background-color: rgb(238, 167, 231);
  height: 40%;
  width: 45%;
  margin: 5px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.grid-item-2 {
  background-color: rgb(238, 167, 231);
  height: 40%;
  width: 45%;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.grid-item {
  background-color: rgb(238, 167, 231);
  height: 40%;
  width: 40%;
  margin: 5px;
  justify-content: space-between;

}

.item-b {
  background-color: rgb(229, 231, 149);
  height: 70%;
  width: 70%;
  margin: 5px;
}

.bottom-row {
  background-color: red;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
  padding: 10px;
}

.layers {
  background-color: white;
  display: flex;
  align-content: center;
}

.layers-item-1 {
 background-color: blue;
 height: 350px;
 width: 350px;
 align-items: center;

}
.layers-item-2 {
 background-color: orange;
 height: 230px;
 width: 230px;
 margin: auto;
 align-items: center;

}
.layers-item-3 {
 background-color: yellow;
 height: 100px;
 width: 100px;
 margin: auto;
 align-items: center;

}
.cluster {

}

.cluster-item-a {

}

.cluster-item {

}
