* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: black;
}



.grad1 {
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient(black 35% , rgb(77, 78, 167) 50% , black 70%);
   transition: all 1s ease-in-out;
   animation: fade;
 }
.grad1:hover {
  transform: scale(.5);
}

@keyframes:fade {
  0%()
}
.clicked{
  width: 100vw;
  height: 100vh;
  background-color: rgb(112, 179, 72);
  transition-duration: 1s;
  transition: ease;
}

 .grad2 {
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient(rgb(60, 235, 133),rgb(8, 46, 48));
 }
 .grad3 {
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient( rgb(208, 96, 42),rgb(148, 81, 19),rgb(54, 14, 1));
 }
 .grad4 {
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient(rgb(55, 73, 12), rgb(197, 158, 252), rgb(55, 73, 12));
 }
 .grad5 {
   width: 100vw;
   height: 100vh;
   background-image: radial-gradient(rgb(243, 208, 245), rgb(10, 27, 230), rgb(243, 208, 245));
 }


 .object {
   width: 100vw;
   height: 100vh;
   background-color: gradient blue;
   transition: all 1s ease;
 }


 .object:hover {
   border-radius: 0;
   width: 400px;
   height: 400px;
   background-color: rgb(184, 74, 19);
 }
